<autotrain_cadence> root python3 -m thesillyhome.model_creator.learning_model >> /thesillyhome_src/log/thesillyhome.log
# Don't remove the empty line at the end of this file. It is required to run the cron job